In [ ]:
# import csv

# # data
# rows = [
#     ['id', 'name', 'age', 'child', 'salary'],
#     [102, 'ali', 32, 5, 12000],
#     [103, 'naser', 33, 4, 15000],
#     [104, 'vahid', 30, 3, 15000],
#     [105, 'ali', 38, 5, 17000],
#     [106, 'amir', 37, 3, 18000],
#     [107, 'saeed', 26, 2, 16000],
#     [108, 'reza', 40, 2, 21000],
# ]

# # write csv 
# with open('1.csv', mode='w', newline='') as file:
#     writer = csv.writer(file)
#     writer.writerows(rows)

# print("file is made.")

## make a csv file with usage of Pandas

In [41]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({
    'id': [102, 103, 104, 105, 106, 107, 108],
    'name': ['ali', 'naser', 'vahid', 'ali', 'amir', 'saeed', 'reza'],
    'age': [32, 33, 30, 38, 37, 26, 40],
    'child': [5, 4, 3, 5, 3, 2, 2],
    'salary': [12000, 15000, 15000, 17000, 12000, 16000, 21000]
})

# save the csv file
df.to_csv('1.csv', index=False)

df = pd.read_csv('1.csv', header = None)

print(df)

     0      1    2      3       4
0   id   name  age  child  salary
1  102    ali   32      5   12000
2  103  naser   33      4   15000
3  104  vahid   30      3   15000
4  105    ali   38      5   17000
5  106   amir   37      3   12000
6  107  saeed   26      2   16000
7  108   reza   40      2   21000

In [42]:
import statistics as st



f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[4]))

print(l)

[12000.0, 15000.0, 15000.0, 17000.0, 12000.0, 16000.0, 21000.0]

In [43]:
# mean of employee's incomes

print(st.mean(l))

15428.57142857143

In [44]:
# sum of the employee's incomes

print(sum(l))

108000.0

In [45]:
print(min(l))

12000.0

In [46]:
# who earn mininmal income?
  
print(l.index(min(l)))

0

In [47]:
import pandas as pd

# فایل CSV رو با header بخون چون خودت با df.to_csv(..., index=False) ساختی
df = pd.read_csv("1.csv")

# پیدا کردن سطر (row) با کمترین حقوق
min_salary_row = df[df['salary'] == df['salary'].min()]

print(min_salary_row)

    id  name  age  child  salary
0  102   ali   32      5   12000
4  106  amir   37      3   12000

In [48]:
print(min_salary_row['id'].values[0])

102

In [49]:
f = open("1.csv", "r")
next(f)  # go to the next row. it omits the header

'id,name,age,child,salary\n'

In [50]:
salaries = []
with open("1.csv", "r") as f:
    next(f)  # رد کردن سطر اول
    for line in f:
        fields = line.strip().split(",")
        salaries.append(float(fields[4]))

min_salary = min(salaries)

print(min_salary)

12000.0

In [51]:
# find the name and ID for min salary

with open("1.csv", "r") as f:
    next(f)
    for line in f:
        fields = line.strip().split(",")
        salary = float(fields[4])
        if salary == min_salary:
            emp_ID = fields[0]
            name = fields[1]
            print(f"Minimun salary: {salary}")
            print(f"Employee ID: {emp_ID}")
            print(f"Name: {name}")

Minimun salary: 12000.0
Employee ID: 102
Name: ali
Minimun salary: 12000.0
Employee ID: 106
Name: amir

## mode

In [53]:
# which name is more repeated among employees?

import statistics as st
f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[4]))

print(st.mode(l))

12000.0

In [2]:
import statistics as st
f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(line.split(',')[1])

print(st.mode(l))

ali

## Median

In [5]:
import statistics as st
f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[4]))

print(sorted(l))
print(st.median(l))

[12000.0, 12000.0, 15000.0, 15000.0, 16000.0, 17000.0, 21000.0]
15000.0

## standard variation from the mean

In [6]:
import numpy as np

# data
data = [2, 4, 4, 4, 5, 5, 7, 9]

# mean
mean = np.mean(data)

# standard variation of population
std_population = np.std(data)

# standard variation of sample
std_sample = np.std(data, ddof=1)

print("Mean :", mean)
print("Population Standard Deviation:", std_population)
print("Sample Standard Deviation :", std_sample)

Mean : 5.0
Population Standard Deviation: 2.0
Sample Standard Deviation : 2.138089935299395

In [7]:
import statistics as st
f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[4]))

print(st.mean(l))
print(st.stdev(l))

15428.57142857143
3101.458950082625

In [8]:
# st devariation of mean for age

import statistics as st

f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[2]))


print(st.mean(l))
print(st.stdev(l))

33.714285714285715
4.923220007078217

In [16]:
# st devariation of mean for age

import statistics as st
import numpy as np

f = open("1.csv","r")
l = []
next(f)

for line in f:
    l.append(float(line.split(',')[2]))

arr = np.asarray(l)

print(np.mean(arr))
print(np.amin(arr))
print(np.amax(arr))
print(st.stdev(arr))

33.714285714285715
26.0
40.0
4.923220007078217